*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: #ADD8E6;
  font-family: 'Nerko One', cursive;
}

h1{
  color: white;
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow:2px 2px rgba(0, 0, 0, 0.2);
}

.container{
  margin: auto;
  text-align: center;
}

.carta{
  display: inline-block;
  width: 200px;
  height: 280px;
  background-image: url('../img/pattern.png');
  background-size: contain;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;

}

.mongolfiera{
  background-image: url('../img/air-baloon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  background-color: white;
  width: 200px;
  height: 280px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

#specialtext{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  bottom: 0;
  left: 40px;
  color: #f400a1;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.special{
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  bottom: 0;
  left: 40px;
  color: #f400a1;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  display: none;
}

.carta:hover .special{
  display: block;
}

.carta:hover{
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

.bici:hover {
  background-image:url('../img/noun_Bicycle_3134821.png'); 
}

.submarine:hover{
  background-image:url('../img/noun_Submarine_3134738.png');
}

.ship:hover{
  background-image:url('../img/noun_Cruise_Ship_3134824.png');
}


.tram:hover{
  background-image:url('../img/noun_Tram_3134750.png');
}

.tractor:hover{
  background-image:url('../img/noun_Tractor_3134797.png');
}

.credits{
  color: black;
  font-size: 20px;
  text-align: center;
  margin: 15px;
}
